<app-header></app-header>
<form [formGroup]="billForm" (ngSubmit)="onSubmit()">
  <div formArrayName="friends">
    <mat-card *ngFor="let f of friends.controls; let i = index;">
      <div [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>FriendName</mat-label>
            <input matInput type="text" placeholder="Jon" name="friendname" formControlName="friendName">
            <mat-error *ngIf="friends.get('friendName')?.invalid && friends.get('friendName')?.touched">
              Pls enter name
            </mat-error>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="onAddFriend()" [disabled]="i!=friends.length-1" >
            <mat-icon>person_add_alt_1</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onDeleteFriend(i)" [disabled]="friends.length<2">
            <mat-icon>person_remove</mat-icon>
          </button>
          <table formArrayName = "extraPaidGrp">
            <tr>
              <th>Place</th>
              <th>PaidAmount</th>
              <th>Comment</th>
              <th></th>
              <th></th>
            </tr>
            <ng-container *ngFor="let extraPaidAmt of extraPaidGrp(i).controls; let j = index">
              <tr [formGroupName]="j">
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Place</mat-label>
                    <input matInput id="place" name="place" formControlName="place">
                    <mat-error *ngIf="extraPaidGrp(i).controls[j].get('place')?.invalid && extraPaidGrp(i).controls[j].get('place')?.touched">Please enter name of place</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" name="paidAmt" formControlName="paidAmt" min="0">
                    <span matPrefix>$&nbsp;</span>
                    <mat-error *ngIf="extraPaidGrp(i).controls[j].get('paidAmt')?.invalid && extraPaidGrp(i).controls[j].get('paidAmt')?.touched">
                      Pls enter positive number
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Comment</mat-label>
                    <input matInput placeholder="pay for drink" name="comment" formControlName="comment">
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button color="primary" (click)="onAddExtraPaidGrp(i)" [disabled] ="friends.controls[i].get('friendName')?.invalid || j!=extraPaidGrp(i).length-1 || extraPaidGrp(i).controls[j].get('place')?.invalid">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button color="primary" (click)="onDeleteExtraPaidGrp(i,j)" [disabled]="j<1">
                    <mat-icon>remove</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </table>
      </div>
    </mat-card>
  </div>
</form>
<!-- {{this.friendsInfo|json}} <br>
total bill = {{totalBill}} <br>
individualBill = {{individualBill}} <br> -->
<mat-divider></mat-divider>

<mat-card class="card" style="margin-bottom: 20px;">
  <h1>Bill</h1>
  <!-- Breakdown of bill -->

  <section *ngFor="let friend of friendsInfo; let i =index">
    <ng-container *ngIf="friendsDisplay[i].totalpaid>0">
      <span><b>{{friend.friendName}} paid</b></span>
      <br>
      <span *ngFor="let paid of friend.extraPaidGrp">
        <span *ngIf="paid.paidAmt>0">${{paid.paidAmt |number:'1.0-2':'en-US'}} @{{paid.place}} for {{paid.comment}}</span>
        <br>
      </span>
      <br>
    </ng-container>
  </section>
  <!-- total bill -->
  <ng-container *ngIf="totalBill != 0">Total Bill = ${{totalBill |number:'1.0-2':'en-US'}}</ng-container>
  <br><br>
  <!-- Individual bill -->
  <section *ngFor="let friend of friendsInfo; let j = index">
    <span>
      <b>{{friend.friendName}} bill</b> =
      <span *ngFor="let paid of friend.extraPaidGrp; let i = index ">
        <span *ngIf="paid.paidAmt>0">
          <span *ngIf="i!=0">+</span>
          ${{paid.paidAmt |number:'1.0-2':'en-US'}}
        </span>
      </span>
      <span *ngIf="individualBill>0">
        - ${{individualBill|number:'1.0-2':'en-US'}} = ${{friendsDisplay[j].totalpaid - individualBill |number:'1.0-2':'en-US' }}
      </span>

    </span>
  </section>
</mat-card>



<!-- <mat-divider></mat-divider>
<mat-card class="card">
  <h1> Bill <span *ngIf='this.billForm.value["place"]!=""'>for {{this.billForm.value["place"]}}</span></h1>
  <p>
  <span *ngFor="let friend of this.billForm.value['friends']">
    <ng-container *ngIf="friend['paidAmt']!=0">
      {{friend["friendName"]}} paid ${{friend["paidAmt"] |number:'1.0-2':'en-US'}}
      <span *ngIf="friend['comment']!=''">
        ({{friend["comment"]}})
      </span>
      <br/>
    </ng-container>
  </span>
  </p>
  <p>
    Bill = <span *ngFor = 'let friend of this.billForm.value["friends"]; let i = index;'>
      <ng-container *ngIf="friend['paidAmt']!=0 && isSubmitted && billForm.valid">
        {{i==0?'':'+'}} ${{friend["paidAmt"] |number:'1.0-2':'en-US'}}
      </ng-container>
    </span>
    <br/>
    <ng-container *ngIf="totalBill != 0 && isSubmitted  && billForm.valid">= ${{totalBill |number:'1.0-2':'en-US'}}</ng-container>
    <br/>
    <br/>
    <ng-container *ngIf="individualBill!=0">
      <span *ngFor='let friend of this.billForm.value["friends"]'>
        <ng-container *ngIf='friend["friendName"]!="" && isSubmitted  && billForm.valid'>
          {{friend["friendName"]}} bill = ${{individualBill |number:'1.0-2':'en-US'}} - ${{friend["paidAmt"] |number:'1.0-2':'en-US'}} = ${{individualBill - friend["paidAmt"] |number:'1.0-2':'en-US'}}
        </ng-container>
        <br/>
      </span>
    </ng-container>
  </p>
  <div fxLayoutAlign="end center" *ngIf="isSubmitted">
    <button mat-icon-button color="primary" (click) = "onCopy()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-card>
 -->
